{% extends "base.html" %}
{% block body %}
<h4 style="text-align:center;color:black;">
    Fill This Form For Enquiry
</h4>
<div style="width:60%;margin:0 auto;">
    <form action="{% url 'saveenq' %}" method="post">
        {% if msg %}
              <p style="text-align:center;">{{msg}}</p>
        {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label>Enter Your Name</label>
            <input type="text" name="name" placeholder="Enter Your Name" class="form-control" required="true" />
        </div>
        <div class="form-group">
            <label>Select Gender</label>
            <br/>
            <input type="radio" name="gender" value="Male" />Male
            <input type="radio" name="gender" value="Female" />Female
        </div>
        <div class="form-group">
            <label>Enter Address</label>
            <textarea name="address" class="form-control"  placeholder="Enter Address"></textarea>
        </div>
        <div class="form-group">
            <label>Enter Contact No</label>
            <input type="number" name="contactno" placeholder="Enter Contact No" class="form-control" required="true" />
        </div>
        <div class="form-group">
            <label>Enter Email Address</label>
            <input type="email" name="emailaddress" placeholder="Enter Email Address" class="form-control" required="true" />
         </div>
        <div class="form-group">
            <label>Enter Enquiry Text</label>
            <textarea name="enquirytext" placeholder="Enter Enquiry Text" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <br/>
            <input type="Submit" value="Submit" class="btn btn-danger" style="border:3px solid black;" />
        </div>
    </form>
    <br/>
</div>
{% endblock body %}